*~
target
.DS_Store
.faces-config.xml.faceside
.faces-config.xml.jsfdia
MANIFEST.MF
bin
.openshift
*/.gitignore
.gitkeep
/helloworld-jsp
README.html
CONTRIBUTING.html
.errai
helloworld-gwt/src/main/gwt-unitCache
helloworld-gwt/src/main/webapp/HelloWorldApp
helloworld-gwt/src/main/webapp/WEB-INF/deploy
out
.idea
*.ipr
*.iws
*.iml
atlassian-ide-plugin.xml
.classpath
.project
.settings
.metadata
bin
.nbattrs
*.log
.clover
