*~
build
target
.DS_Store
bin
.openshift
*/.gitignore
.gitkeep
/helloworld-jsp
README.html
SERVICES.html
CHANGES.html
CONTRIBUTING.html
RELEASE_PROCEDURE.html
guide/*.html
shared-doc/*.html
out
nb-configuration.xml
nbactions.xml
.idea
*.ipr
*.iws
*.iml
atlassian-ide-plugin.xml
.checkstyle
.classpath
.project
.settings
.metadata
.factorypath
.nbattrs
*.log
build.metadata

