.form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.form label {
    margin-right: 10px;
    white-space: nowrap;
    width: 100px;
}

.form input {
    width: 200px;
    margin-right: 10px
}

.form textarea {
    resize: inline;
    min-height: 100px;
    vertical-align: bottom;
    display: flex;
    width: 530px;
    margin-right: 10px
}

.form .form-group {
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
    margin-top: 10px;
}

.form .error {
    color: red;
}
