<script type="text/template" id="member-tmpl">
<% _.each(members, function(member) { %>
	<div class="row member">
		<div class="col"><div class="head">Id</div><div class="data"><%=member.id%></div></div>
		<div class="col"><div class="head">Name</div><div class="data"><%=member.name%></div></div>
		<div class="col"><div class="head">Email</div><div class="data"><%=member.email%></div></div>
		<div class="col"><div class="head">Phone #</div><div class="data"><%=member.phoneNumber%></div></div>
		<div class="col"><div class="head">REST URL</div><div class="data"><a href="http://html5-aerogear.rhcloud.com/rest/members/<%=member.id%>" rel="external" target="_blank" class="resturl ui-link">JSON</a></div></div>
	</div>
<% }); %>
</script>
