.titleCell {
    text-align: right;
}

.header {
    font-size: larger;
    padding: 8px;
}

.rf-pp-hdr-cntrls a {
    padding: 2px 2px 2px 8px;
}

.rf-msgs-inf {
    color: green;
}

.update {
   margin-top : 10px;
   padding: 8px 0px;
}

.update div {
   color: #006400;
   padding: 6px 4px;
}