#page-container h1 {
   font-size: large;
}

header p {
   margin:0;
}

header .info-link {
   width: 30px;
   height: 30px;
}

.info-link a {
   background-color: white;
   border-radius: 50%;
   padding: 5px 10px;
}

.left {
    text-align: left;
}

#page-container .mobileContent {
   padding: 0 15px;
}

/* portrait screen width */
@media screen and (max-width: 400px) {
    .portrait {
    }

    .landscape {
        display:none;
    }

}

/* landscape/desktop device widths */
@media screen and (min-width: 401px) {
    .portrait {
        display:none;
    }

    .landscape {
    }
}
