#page-container h1 {
   font-size: large;
}

header p {
   margin:0;
}

header .info-link {
   width: 30px;
   height: 30px;
}

.info-link a {
   background-color: white;
   border-radius: 50%;
   padding: 5px 10px;
}

#page-container .mobileContent {
   padding: 0 15px;
}