<!-- Marker file indicating CDI should be enabled -->
<beans xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
   xsi:schemaLocation="
      http://java.sun.com/xml/ns/javaee 
      http://java.sun.com/xml/ns/javaee/beans_1_0.xsd">

      <!-- Uncomment this alternative to see EJB declarative transactions in use -->
<!--       <alternatives> -->
<!--          <class>org.jboss.as.quickstarts.login.EJBUserManager</class> -->
<!--       </alternatives> -->
</beans>