<script type="text/template" id="member-tmpl">
<% var addHeader = true;
_.each(members, function(member) { 
    if ( Modernizr.mq( "only all and (max-width: 640px)" ) ) {
        addHeader = true;
    }
    %>
	<div class="row member">
		<div class="col"><% if ( addHeader ) { %><div class="head">Id</div><% } %><div class="data"><%=member.id%></div></div>
		<div class="col"><% if ( addHeader ) { %><div class="head">Name</div><% } %><div class="data"><%=member.name%></div></div>
		<div class="col"><% if ( addHeader ) { %><div class="head">Email</div><% } %><div class="data"><%=member.email%></div></div>
		<div class="col"><% if ( addHeader ) { %><div class="head">Phone #</div><% } %><div class="data"><%=member.phoneNumber%></div></div>
		<div class="col"><% if ( addHeader ) { %><div class="head">REST URL</div><% } %><div class="data"><a href="rest/members/<%=member.id%>" rel="external" target="_blank" class="resturl ui-link">JSON</a></div></div>
	</div>
<% addHeader = false;
}); %>
</script>
