body {
	margin: 0px;
	padding: 0px;
	border-width: 0px;
	background-color: #eeeeee;
	font-family:trebuchet MS, Lucida Sans Unicode, Lucida Sans, Sans-Serif;
}

/* Header styles */

div#header {
	height:60px;
	margin: 0px;
	padding: 0px;
	width:600px;
}


div.divider {
  float: left;
  width: 2px;
  height: 60px;
  margin-left: 4px;
  margin-right: 4px;  
  background: url(../img/divider.png) top left no-repeat;
}

div.menuitem {
  float: left;
  margin-left: 4px;
  margin-right: 4px;
  padding-top: 22px;  
  height: 100%;
}

.statsTitle,.carsTitle {
  color: #717283;
  font-weight:bold;
  font-size:16px;
  padding-bottom: 15px;
}

.numberPlate {
	 paddding-left: 50px;
}

td.link a {
	font-size:14px;
}

.innerContent {
  margin-top:15px;
}

div.menuitem a, div.menuitem a:visited {
  margin-left: 8px;
  margin-right: 8px;  
  color: #000000;
  text-decoration: none;
}

div.menuitem a:hover {
  margin-left: 8px;
  margin-right: 8px;  
  color: #465fbd;
}

div#topseparator {
	height: 10px;
	width:600px;
	background-color:#33343d;
	border-top: 1px solid #dfdfdf;
}

/* Main content styles */

div#main {
  width:590px;
  clear: both;
  padding: 2px;
  margin-left: 4px;
}

div#content {
  background-color: #ffffff;
  border: 1px solid #cccccc;
  padding: 4px;
  /* margin-right: 260px; */
}

div#statistics {
  background-color: #ffffff;
  border: 1px solid #cccccc;
  margin-top:5px;
  padding: 4px;
}

div.apptitle {
  float: left;
  margin-left: 4px;
  margin-right: 30px;
  padding-top: 19px;  
  height: 100%;
  font-size: 20px;
  color: #465fbd;
  font-stretch: wider;
}