name: WildFly Todo Backend Quickstart CI

on:
  pull_request:
    types: [opened, synchronize, reopened, ready_for_review]
    paths:
      - 'todo-backend/**'
      - '.github/workflows/quickstart_ci.yml'
jobs:
  call-quickstart_ci:
    uses: ./.github/workflows/quickstart_ci.yml
    with:
      QUICKSTART_PATH: todo-backend
      TEST_PROVISIONED_SERVER: true
      TEST_OPENSHIFT: true
      MATRIX_OS: "ubuntu-latest"